<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Naslovna", 'root_path' %></li>
      <li><%= link_to "Aktuelnosti", 'aktuelnosti_path' %></li>
      <li><%= link_to "Škola", 'skola_path' %></li>
      <li><%= link_to "Magazin", 'magazin_path' %></li>
      <li><%= link_to "Kontakt", 'kontakt_path' %></li>
    </ul>
  </nav>
</header>
